<% include partials/header.ejs %>
<div class="search-wrapper">
    <label class="search-label">Search by Image..</label>
    <form class="search-form" action="/images/searchByImage" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="imagesearch" accept="image/*" onchange="this.form.submit()">
    </form>
    <form class="search-form" action="/images/search" method="post">
        <input type="text" placeholder="Search by Text/Trait.." name="searchText" id="textsearch">
        <button type="submit" class="search-button">Search</button>
    </form>
    <style>
        .search-label {
            margin-right: 10px;
            font-size: 15px;
        }
        #imagesearch {
            font-size: 15px;
        }
        .search-form {
            margin-bottom: 10px;
            display: inline-block;
        }
        .search-wrapper {
            margin-bottom: 10px;
            margin-top: 20px;
            margin-left: 10px;
        }
        .search-button {
            display: inline-block;
            padding: 10px;
            background: #ccc;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        .search-button:hover {
            background: #ddd;
        }
        #textsearch {
            padding: 8px;
            font-size: 15px;
        }
    </style>
</div>
<div class="navbar navbar-light bg-light">
    <label class="navbar-brand mb-0 h1">Search Results:</label>
</div>
<div class="table-wrapper">
    <% if (images.length > 0) { %>
        <table class="table table-hovered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Image</th>
                <th scope="col">Image Name</th>
                <th scope="col">Image Tags</th>
                <th scope="col">Image Texts</th>
            </tr>
            </thead>
            <tbody>
            <% images.forEach((image, index) => { %>
                <tr>
                    <th scope="row"><%= image.imgid %></th>
                    <td>
                        <a href="<%= image.imgurl %>" target="_blank">
                            <img src="<%= image.imgurl %>" class="image-img" alt="">
                        </a>
                    </td>
                    <td><%= image.imgname %></td>
                    <td><%= image.imgtag %></td>
                    <td><%= image.imgtext %></td>
                    <td>
                        <a href="images/delete/<%= image.imgid %>" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
        <style>
            table {
                width: 100%;
                table-layout: fixed;
                word-break: break-all;
            }
        </style>
    <% } else { %>
        <p class="text-center">No images found. Go <a href="/" >here</a> to view all images.</p>
    <% } %>
</div>
</div>
</body>
</html>